@charset "UTF-8";

:root {

  /* 🖤 Fundos */
  --fundo-principal-escuro: #0D1117; 
  --fundo-secao: #161B22;
  --fundo-cards: #21262D; 

  /* ⚪ Textos */
  --color-text-primary: #C9D1D9; /* texto principal */
  --color-text-secondary: #8B949E; /* texto secundário */

  /* 🔵 Destaques / Links */
  --color-accent-blue: #58A6FF; /* cor de links e botões */
  --color-accent-blue-hover: #79C0FF; /* hover de botão/link */

  /* 🟢 Sucesso / status positivo */
  --color-success: #3FB950;

  /* 🔴 Erros / alertas */
  --color-error: #D73A49;

}

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    background-color: var(--fundo-principal-escuro);

}