@charset "UTF-8";

@media screen and (max-width: 768px) {

    #header-cima {

        flex-direction: row-reverse;
        
    }

    #header-baixo h1 {

    color: var(--color-text-primary);
    font-size: 3em;
    text-align: center;
    }

    #header-baixo p {

    color: var(--color-text-primary);
    font-size: 1.5em;
    text-align: center;

    }


}

