@charset "UTF-8";

footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  height: 700px;

  color: var(--color-text-primary);
  font-size: clamp(1.2em, 1em, 2em);

  padding-top: 200px;
}

#footer-email {
  text-decoration: none;
  color: var(--color-text-primary);
  padding: 0px 10px 0px 10px;

  box-shadow: inset 0px -5px 0px var(--cor-footer2);
  transition:
    color 0.5s,
    box-shadow 0.2s;
}

#footer-email:hover {
  color: var(--branco);
  box-shadow: inset 0px -50px 0px var(--cor-footer2);
}

div#Links-Rede-Social nav a {
  text-decoration: none;
  color: var(--color-text-primary);
  padding: 0px 10px 0px 10px;
  transition: color 0.5s;
}

div#Links-Rede-Social nav a:hover {
  color: var(--color-accent-blue-hover);
}

div#Links-Rede-Social {
  background-color: var(--preto);

  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 20px;
}

div#mesagem1 {
  background-color: var(--cor-footer1);

  grid-column: 2 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 20px;
}

div#mesagem2 {
  background-color: var(--cor-footer2);

  grid-column: 3 / 3;
  grid-row: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 20px;
}

div#mesagem3 {
  background-color: var(--cor-footer3);

  grid-column: 3 / 3;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 20px;
}
