@charset "UTF-8";

:root {

    --branco: #ffffff;
    --preto: #000000;


    --fundo-principal-escuro: #0D1117; 
    --fundo-secao: #161B22;
    --fundo-cards: #21262D; 


    --color-text-primary: #C9D1D9; 
    --color-text-secondary: #8B949E; 
    --color-accent-blue: #58A6FF; 
    --color-accent-blue-hover: #79C0FF;

    --color-success: #3FB950;


    --color-error: #D73A49;

    --cor-footer1: #0A2540;
    --cor-footer2: #1F6FEB; 
    --cor-footer3: #647eb8;

}

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    background-color: var(--fundo-principal-escuro);

}