@charset "UTF-8";

#header-cima {

    background-color: var(--fundo-secao);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    height: 20vh;


}

#header-cima h1 {

    color: var(--color-text-primary);
    font-size: 1.9em;

}

#header-cima h1 a {

    text-decoration: none;
    color: var(--color-text-primary);
    transition: color 0.5s;

}

#header-cima h1 a:hover {

    color: var(--color-accent-blue-hover);

}

#menu nav{

    display: flex;
    gap: 30px;

}

#menu a {

    color: var(--color-accent-blue-hover);

    text-decoration: none;
    font-size: 1.2em;
    
    transition: color 0.5s

}

#menu nav:hover a {

    color: var(--color-text-secondary);

}

#menu nav a:hover {

    color: var(--color-accent-blue);

 }

#header-baixo {
    
    background: url("../imagens/background.png") center / contain no-repeat, linear-gradient(to bottom, var(--fundo-secao), var(--fundo-principal-escuro));

    height: 80vh;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;

    background-size: cover;

}

#header-baixo h1 {

    color: var(--color-text-primary);
    font-size: 6em;
    text-align: center;

}

#header-baixo p {

    color: var(--color-text-primary);
    font-size: 2em;
    text-align: center;
    padding-top: 20px;

}


#btn-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

#btn-menu span {
  display: block;
  width: 28px;
  height: 3px;
  background: var(--color-text-primary);
  margin: 6px 0;
  transition: 0.4s;
}

#btn-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#btn-menu.open span:nth-child(2) {
  opacity: 0;
}

#btn-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

