@charset "UTF-8";

main {
  background-color: var(--fundo-principal-escuro);

  grid-template-columns: auto 90vw auto;
  grid-template-rows: auto auto auto;
}

article#experiencias > h1 {
  color: var(--color-text-primary);
  font-size: clamp(2.5em, 2em, 3em);
  text-align: center;
  padding-bottom: 20px;
}

article#experiencias .caixa-experiencia {
  color: var(--color-text-primary);
  overflow: hidden;
}

article#experiencias .nome-experiencia {
  color: var(--color-text-primary);
  background-color: var(--color-box);

  max-width: 50vw;

  border-radius: 5px;
  margin: auto;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 5px;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: clamp(1em, 1.5em, 2.5em);

  transition: 0.5s;
}

article#experiencias .nome-experiencia #emoji {
  color: var(--color-text-primary);
}

article#experiencias .nome-experiencia:hover #emoji {
  color: var(--color-accent-blue-hover);
}

article#experiencias .caixa-experiencia[open] .nome-experiencia {
  background-color: var(--color-box-hover);
}

article#experiencias .conteudo {

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  justify-self: center;

  color: var(--color-text-primary);
  background-color: var(--fundo-cards-azul);

  max-width: 50vw;

  border-radius: 5px;

  overflow: hidden;
  height: 0;
  transition: height 0.4s ease;
}

.conteudo .location-conteudo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 5px;
}

.conteudo .site-empressa-conteudo {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding: 5px;
}

.conteudo .site-empressa-conteudo a {
  text-decoration: none;
  color: var(--color-text-primary);

  transition: 0.5s;
}

.conteudo .site-empressa-conteudo a:hover {
  color: var(--color-accent-blue-hover);
}

.conteudo .tecnologias-conteudo {

  display: flex;
  flex-flow: row wrap;

  grid-column: 1 / -1;
  grid-row: 3 / 4;

  gap: 10px;
  padding: 5px;

}

.conteudo .item-conteudo {

  background-color: var(--color-box);
  border-radius: 5px;

}

.conteudo .texto-conteudo {

  grid-column: 1 / -1;
  grid-row: 2 / 3;

  text-align: justify;
  padding: 10px;
}
