@charset "UTF-8";

@media screen and (max-width: 768px) {
  #header-cima {
    flex-direction: row-reverse;
  }

  #header-baixo h1 {
    color: var(--color-text-primary);
    font-size: 3em;
    text-align: center;
  }

  #header-baixo p {
    color: var(--color-text-primary);
    font-size: 1.5em;
    text-align: center;
  }

  #btn-menu {
    display: block;
    z-index: 1001;
  }

  #menu nav {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background: var(--branco);
    flex-direction: column;
    padding: 6rem 2rem;
    gap: 20px;
    transition: right 0.4s ease;
  }

  #menu nav.open {
    right: 0;
  }

  footer {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr ;

  }

  
div#Links-Rede-Social {

    grid-column: 1 / 1;
    grid-row: 4 / 5;

}

div#mesagem1 {

    grid-column: 1 / 1;
    grid-row: 1 / 2;

}

div#mesagem2 {

    grid-column: 1 / 1;
    grid-row: 2 / 3;

}

div#mesagem3 {

    grid-column: 1 / 1;
    grid-row: 3 / 4;

}


article#experiencias .nome-experiencia {

  max-width: 90vw;
  font-size: clamp(0.5em, 1em, 2em);
}

article#experiencias .texto-experiencia{

  max-width: 90vw;

}

}
