@charset "UTF-8";

:root {
    /* Tons de Base (Fundo) */
    --fundo-principal: #0d1117;   /* Fundo geral mais profundo */
    --fundo-secundario: #18212e;  /* Seções e áreas de destaque 161b22*/
    --fundo-card: #21262d;        /* Cards e elementos flutuantes */

    /* Tons de Texto */
    --texto-principal: #f0f6fc;   /* Quase branco, leitura confortável */
    --texto-secundario: #8b949e;  /* Cinza para descrições e detalhes */

    /* Cores de Destaque (Accent) */
    --cor-destaque: #f3eeee;      /* Azul principal para links e ícones */
    --cor-destaque-hover: #6a7580;/* Azul mais claro para interação */
    --cor-acao: #7d46ff;          /* Um roxo vibrante*/
    --cor-acao-hover: #9d71ff;    /* Roxo mais claro para botões */

    /* Status e Feedback */
    --cor-erro: #f85149;          /* Vermelho*/
    --cor-sucesso: #3fb950;       /* Verde*/

    /* Cores Neutras */
    --branco: #ffffff;
    --preto: #000000;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo-principal);
    font-family: sans-serif,geometric;
}